.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pageItem {
    display: inline-block;
    margin: 0 5px;
}


.pageLink{
    display: inline-block;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    border: none;
    background-color: #a4a4a4;
    font-weight: bold;
    cursor: pointer;
    color : #000;

   
}



.pageLink:hover {
    background-color: #ddd;
}

