.breadcrumb {
    margin: 1rem 0;
    font-size: 20px;
    color: #555;
    @media screen and (max-width: 768px) {
        font-size: 16px;
        z-index: 80 !important;
       
    }
}

.breadcrumb__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
   
}

.breadcrumb__item {
    margin-right: 2rem;
    font-weight: bold;
    position: relative;
    z-index: 10;
}

.breadcrumb__item:last-child {
    color: #777;
    font-weight: normal;
    font-size: 30px;
    @media screen and (max-width: 768px) {
        font-size: 25px;
    }
}

.breadcrumb__item_link,
.breadcrumb__item_current {
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease;
}

.breadcrumb__item_link:hover {
    color: #9a9a9a;
}

.breadcrumb__item_current {
    color: #777;
    
  }
.breadcrumb__item:not(:last-child)::after {
    content: ">";
    position: absolute;
    top: 50%;
    right: -1.8rem;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #aaa;
    padding: 0 0.25rem;
}

.breadcrumb ol {
    padding: 0;
    
    
}
