/* langTogglebtn.module.css */

.langbtn {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
}

.langbtn button {
    outline: none;
    display: block;
    /* position: absolute; */
    border: 1px solid #969a9d;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.langbtn button:before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgb(150, 150, 150);
    transition: transform 0.3s ease;
}

.langbtn button.jp {
    background-color: var(--lang_button_background);
}
.langbtn button.jp .langtext {
    text-align: var(--lang_button_text_align);
    margin-right: var(--lang_button_margin);
}

.langbtn button.jp:before {
    transform: var(--lang_button_translateX);
}

.langbtn button.en {
    background-color: var(--lang_button_background);
}

.langbtn button.en .langtext {
    text-align: var(--lang_button_text_align);
    margin-left: var(--lang_button_margin);
}

.langbtn button.en:before {
    transform: var(--lang_button_translateX);
}
.langbtn button::after {
    content: var(--lang_button_content);
    position: absolute;
    top: 10px;
    left: var(--lang_button_margin);
    width: 26px;
    height: 26px;
}
