.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 8px solid #c21500;
    border-image: linear-gradient(0deg, #e2e2e2 0%, #a0a0a0 100%);
    border-image-slice: 1;
    grid-row: 1;
    @media screen and (max-width: 768px) {
        display: none;
    }
}

.link {
    /* centering navbar */
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.link a {
    /* letter spacing */
    letter-spacing: 0.1rem;
    padding: 0 1.6rem;
    @media screen and (max-width: 768px) {
        letter-spacing: 0.05rem;
        padding: 0 0.3rem;
    }
        
    }

.link a:hover {
    /* hover effect */
    color: #0066ff;
    
}

