.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.2rem;
  color: white;
  background-color: #a9c5eb;
  background-image: linear-gradient(to right, #a9c5eb, #f0f0f0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
 
  }


.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.showmore {
  margin-top: 2rem;
  text-align: center;
}

.showmore h2 {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  color: #a9c5eb;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  
}

.showmore h2:hover {
  transform: translateY(-2px);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}