.main {
    /* margin-top: 7rem; */
    margin-left: 5rem;
    margin-right: 5rem;
    height: 100%;
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: -1rem auto;
    }
}

.main .header {
    @media screen and (max-width: 768px) {
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}

.profile {
    margin-left: 1rem;
    margin-right: 1rem;
    
}