.main {
    /* margin-top: 7rem; */
    color: rgb(0, 0, 0);
    margin-left: 5rem;
    margin-right: 5rem;
    color: var(--text-color);
    background-color: var(--bg-color);
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 2rem auto;
    }
}

.header {
    margin-left: 5rem;
    margin-right: 5rem;
    @media screen and (max-width: 768px) {
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
}

.container {
    margin-top: -1rem;
}

.content {
    @media screen and (max-width: 768px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
