.main {
    /* margin-top: 7rem; */
    margin-left: 5rem;
    margin-right: 5rem;
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    @media screen and (max-width: 768px) {
        width: 100%;
        margin: -1rem auto;
    }
}

.wrapper {
    padding: 1rem;
    width: 100%;
    margin: 1rem auto;
}
.wrapper li {
    margin-top: 4rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
}

.main .header {
    @media screen and (max-width: 768px) {
        margin-bottom: 1rem;
        margin-left: 1rem;
        z-index: 1;
    }
}


.showtags {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
}
.tag {
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0.3rem;
    border-radius: 0.25rem;
    background-color: #f1f1f1;
    color: #333;
    font-size: 0.75rem;
    font-weight: 600;
    margin-right: 0rem;
}
