/* * write css */

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Main Content Styles */
.main {
    max-width: 800px;
    margin: 7rem auto;
    @media screen and (max-width: 768px) {
        margin: 1rem auto;
        padding: 6px;
    }
}

.content{
  margin: 2rem auto;
}


.content h2 {
    margin-top: 40px;
}

.content ul {
    padding-left: 20px;
}

.content ol {
    padding-left: 20px;
}
