/* * write css */

.wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
}

/* Main Content Styles */
.main {
    max-width: 800px;
    margin: 7rem auto;
    @media screen and (max-width: 768px) {
        margin: 2rem auto;
        padding: 6px;
    }
}

.main h1 {
    margin-top: 40px;
}

.main h2 {
    margin-top: 40px;
}

.main ul {
    padding-left: 20px;
}

.main ol {
    padding-left: 20px;
}
